$yellow: #f28a0f;
$yellow-hover: #f39425;
$white: #ffffff;
$overlay:rgba(61, 51, 51, 0.96);
$popup: #141414;
$white-t:#e5e5e5;
$widthMobile: 360px;
$widthTablet: 768px;
$widthDesktop: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$raleway: "Raleway", "Arial", sans-serif;
