.background-container {
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
  background-color: #1c1c1c;
  min-height: 100vh;

  &--home {
    background-size: cover;

    @media (min-width: 500px) {
      background-image: url("../../img/bg-d@1x.jpg");

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../../img/bg-d@2x.jpg");
      }
    }

    @media (max-width: 499px) {
      background-image: url("../../img/bg-m@1x.jpg");

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../../img/bg-m@2x.jpg");
      }
    }
  }

  &--info {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  &--maniac {
    background-image: url("../../img/maniac@1x.jpg");
    background-color: #332c27;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/maniac@2x.jpg");
    }

    @include media-mobile-tablet {
      background-image: url("../../img/maniac-m@1x.jpg");

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../../img/maniac-m@2x.jpg");
      }
    }
  }

  &--mantion {
    background-image: url("../../img/mantion@1x.jpg");
    background-color: #112228;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/mantion@2x.jpg");
    }

    @include media-mobile-tablet {
      background-image: url("../../img/mantion-m@1x.jpg");

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../../img/mantion-m@2x.jpg");
      }
    }
  }

  &--ritual {
    background-image: url("../../img/ritual@1x.jpg");
    background-color: #171110;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/ritual@2x.jpg");
    }

    @include media-mobile-tablet {
      background-image: url("../../img/ritual-m@1x.jpg");

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../../img/ritual-m@2x.jpg");
      }
    }
  }

  &--experiment {
    background-image: url("../../img/experiment@1x.jpg");
    background-color: #251c1c;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/experiment@2x.jpg");
    }

    @include media-mobile-tablet {
      background-image: url("../../img/experiment-m@1x.jpg");

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../../img/experiment-m@2x.jpg");
      }
    }
  }

  &--opened {
    @include media-mobile-tablet {
      background-color: #633c0f;
      background-image: url("../../img/menu-bg@1x.jpg");

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../../img/menu-bg@2x.jpg");
      }
    }
  }

  background: #1e1d1e;

  @include media-mobile-tablet {
    &--info {
      height: 640px;
      min-height: auto;
      background-size: cover;
    }

    &__img {
      min-height: 100vh;
      background: linear-gradient(0deg, rgba(35, 21, 14, 1) 0%, rgba(35, 21, 14, 1) 34%, rgba(255, 255, 255, 0) 100%);
    }
  }

  @include media-tablet {
    &--info {
      height: 100vh;
    }

    &__img {
      background: linear-gradient(0deg, rgba(35, 21, 14, 1) 0%, rgba(35, 21, 14, 1) 14%, rgba(255, 255, 255, 0) 70%);
    }
  }
}

.background-container__blur {
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(52px);
  height: 100%;
  width: 100%;
}